/* You can add global styles to this file, and also import other style files */

$main:#7f2626;
$test:#262228;
$subMain:#CB1415;
$triMain:#CB5151;
// $comp:#267F3F;
$comp:#262228;
$subComp:#14CB48;
$triComp:#99FFB5;
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    text-align: center;
}

img {
    // user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}