.nav {
    width: 100vw;
    position: absolute;
    top: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.navLeft {}

.navRight {
    .navMenu {
        font-size: 1.3em;
    }
}