<div class="forecast">
    <app-nav></app-nav>
    <div class="foreHead">
        Forecast For Atlanta Ga
    </div>
    <div class="foreBody">
        <!--<app-menu [menuOpen]="menuOpen" (child)="myChild=$event"></app-menu>-->

        <!--<app-day *ngFor="let day of days" [dayNum]="day"></app-day>-->
        <!--<app-day *ngFor="let day of days" (child)="myChild=$event"></app-day>-->
        <app-day *ngFor="let day of days" (child)="app-information.openModal()"></app-day>
    </div>

    <app-information #information [myChild]="myChild"></app-information>

</div>