.forecast {
    // margin-top: 20vh;
    padding-top: 10vh;
    height: 120vh;
    width: 100vw;
    background: cadetblue;
    color: white;
    // justify-content: center
    // padding: 0 auto;
}

.foreHead {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 3px;
}

.foreBody {
    margin-top: 20vh;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    // justify-content: center;
    align-content: center;
    // margin: 0 auto;
    background: floralwhite;
    padding: 2vh 0;
}