.forecast {
    margin-top: 20vh;
    height: 70vh;
    width: 100vw;
    background: cadetblue;
    color: white;
}

.foreBody {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
}