.forecast {
    margin-top: 20vh;
    height: 80vh;
    width: 100vw;
    background: cadetblue;
    color: white;
    // justify-content: center
    // padding: 0 auto;
}

.foreBody {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    // justify-content: center;
    align-content: center;
    margin-top: 10vh;
    // margin: 0 auto;
    background: floralwhite;
    padding: 2vh 0;
}